.jumbotron {
    background-color: #7E4630;
    color: white;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    margin-bottom: 3px;
    margin-top: 0px;
}

.margins {
    margin-bottom: 3px;
    margin-top: 0px;
}
